#__page0-intHeader-BarPH {
  }
#__page1-title-inner{
    font-size: 1.4rem;
font-weight: Bold
}
#__title0{
    font-weight: Bold
}
#__title1{
     font-weight: Bold
}
#__title2{
    font-weight: Bold
} 
#__title3{
    font-weight: Bold
}        
#details--attachmentsheader{
    font-size: 1.5rem
}
#__button1-content{
    font-weight: Bold
    
    }
#__title2-inner{
    font-size: 1.4rem
}
#__title1-inner{
    font-size: 1.4rem
}
#__title0-inner{
    font-size: 1.4rem
}
#__page0-title-inner{
    font-size: 1.4rem
}
#__button4-content{
    font-size: 1rem;
    font-weight: Bold
}
#terms--terms {
margin-left: 225px;
border: 1px solid grey

}
#terms--termsheading1{
    font-size: 1rem;
    font-weight: Bold
}
#terms--termsheading2
{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: Bold
}
#terms--termsheading3{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: Bold
}
#terms--termsdetail1{
    margin-top: 10px;
    color : black
}

#terms--termsdetail2{
    margin-top: 10px;
}
#terms--termsdetail3{
    margin-top: 10px;
}
#terms--agreecheck-label{
    font-size: 0.8rem;
    font-weight: Bold;
    color : black
}
#terms--agreecheck {
    margin-top: 30px;
}
#terms--next-inner {
    font-size: 0.9rem;
    font-weight: Bold;
}
#details--title-label{
    background-color: WhiteSmoke    
}
#details--name-inner{
    background-color: WhiteSmoke    
}
#details--address-inner{
    background-color: WhiteSmoke    
}
#details--postalcode-inner{
    background-color: WhiteSmoke    
}
#details--city-inner{
    background-color: WhiteSmoke    
}
#details--language-inner{
    background-color: WhiteSmoke    
}
#details--mobileno-inner{
    background-color: WhiteSmoke
}
#details--country-inner{
    background-color: WhiteSmoke
}
#details--phoneno-inner{
    background-color: WhiteSmoke
}
#details--faxno-inner{
    background-color: WhiteSmoke
}
#details--email-inner{
    background-color: WhiteSmoke
}
#details--bankcountry-inner{
    background-color: WhiteSmoke
}
#details--bankkey-inner{
    background-color: WhiteSmoke
}
#details--accountno-inner{
    background-color: WhiteSmoke
}
#details--iban-inner{
    background-color: WhiteSmoke
}
#details--holdername-inner{
    background-color: WhiteSmoke
}
#details--taxno-inner{
    background-color: WhiteSmoke
}
#details--TB1{
    border-bottom: 1px solid grey
}
#details--TB2{
    border-bottom: 1px solid grey
}
#details--TB3{
    border-bottom: 1px solid grey
}
#__toolbar1{
    border-bottom: 1px solid grey
}
#__list1-nodata-text{
    font-size: 1rem;
    font-weight: Bold;
}
#terms--termsheading1{
    border-bottom: 2px solid grey
}
#terms--termsheading2{
    border-bottom: 2px solid grey
}
#terms--termsheading3{
    border-bottom: 2px solid grey
}